# Ignore Visual Studio and build folders
.vs/
.vscode/
bin/Debug/*
bin/Release/*
!bin/Debug/*.dll
!bin/Release/*.dll
!bin/Debug/*.pdb
!bin/Release/*.pdb
obj/Debug/*
obj/Release/*
!obj/Debug/*.dll
!obj/Release/*.dll
