<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RevitAPI" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="20.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RevitAPIUI" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="20.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
